@font-face {
  font-family: "Londrina Shadow";
  src: url(./assets/fonts/LondrinaShadow-Regular.ttf);
}

@font-face {
  font-family: "Marvel";
  src: url(./assets/fonts/Marvel-Regular.ttf);
}

@font-face {
  font-family: "Lilita One";
  src: url(./assets/fonts/LilitaOne-Regular.ttf);
}

@font-face {
  font-family: "Londrina Solid";
  src: url(./assets/fonts/LondrinaSolid-Regular.ttf);
}

@font-face {
  font-family: "Livvic";
  src: url(./assets/fonts/Livvic-Regular.ttf);
}

@font-face {
  font-family: "Lustria";
  src: url(./assets/fonts/Livvic-Regular.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f2023;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
