/************************************ Fonts ****************************************/
@font-face{
    src: url('../fonts/LondrinaSolid-Regular.ttf');
    font-family: 'Londrina Solid';
}

@font-face {
    font-family: 'Lustria';
    src: url('../fonts/Lustria-Regular.ttf');
}

/***********************************************************************************/

/******************************* Box1 **********************************************/
.box1 {
    position: absolute;
    width: 285px;
    height: 285px;
    top: 450px; 
    left: 150px; 
    gap: 0px;
    border-radius: 75px;
    border: 1px solid #FFFFFF;
    opacity: 1;
    background: #232333;

    transition: all 0.1s ease;
  }

  .box1:hover {
    background: #5d5d7c; 
    cursor: pointer;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF; 
  }
  .colorImage1{
    position: relative;
    left: 39px;
    top: 20px;
  }
  .rightarrow{
    position: relative;
    left: 62px;
    top:20px;
  }

  .colorImage2{
    position: relative;
    left: 80px;
    top: 20px;
  }

  .box1-text1{
    position: relative;
    width: 253px;
    height: 53px;
    top: 22px;
    left: 12px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Londrina Solid';
    font-size: 35px;
    font-weight: 400;
    line-height: 53.24px;
    text-align: center;

    color: #FFFFFF;
  }

  .box1-text2{
    position: relative;
    width: 303px;
    height: 75px;
    top: 30px;
    left: 15px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Lustria';
    font-size: 14px;
    font-weight: 400;
    line-height: 20.51px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
  }

/***********************************************************************************/

/******************************* Box2 **********************************************/
  .box2 {
    position: absolute;
    width: 285px;
    height: 285px;
    top: 450px; 
    left: 450px; 
    gap: 0px;
    border-radius: 75px;
    border: 1px solid #FFFFFF;
    opacity: 1;
    background: #232333;

    transition: all 0.1s ease;
  }

  .box2:hover {
    background: #5d5d7c; 
    cursor: pointer;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF; 
  }
  .regenerateImage1{
    position: relative;
    left: 39px;
    top: 20px;
  }
  .rightarrow{
    position: relative;
    left: 62px;
    top:20px;
  }

  .regenerateImage2{
    position: relative;
    left: 80px;
    top: 20px;
  }

  .box2-text1{
    position: relative;
    width: 253px;
    height: 53px;
    top: 22px;
    left: 12px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Londrina Solid';
    font-size: 35px;
    font-weight: 400;
    line-height: 53.24px;
    text-align: center;

    color: #FFFFFF;
  }

  .box2-text2{
    position: relative;
    width: 303px;
    height: 75px;
    top: 30px;
    left: 15px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Lustria';
    font-size: 14px;
    font-weight: 400;
    line-height: 20.51px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
  }

  /***********************************************************************************/

/******************************* Box3 **********************************************/
.box3 {
    position: absolute;
    width: 285px;
    height: 285px;
    top: 450px; 
    left: 750px; 
    gap: 0px;
    border-radius: 75px;
    border: 1px solid #FFFFFF;
    opacity: 1;
    background: #232333;

    transition: all 0.1s ease;
  }

  .box3:hover {
    background: #5d5d7c; 
    cursor: pointer;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF; 
  }
  .enhancingImage1{
    position: relative;
    left: 39px;
    top: 20px;
  }
  .rightarrow{
    position: relative;
    left: 62px;
    top:20px;
  }

  .enhancingImage2{
    position: relative;
    left: 80px;
    top: 20px;
  }

  .box3-text1{
    position: relative;
    width: 253px;
    height: 53px;
    top: 22px;
    left: 12px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Londrina Solid';
    font-size: 35px;
    font-weight: 400;
    line-height: 53.24px;
    text-align: center;

    color: #FFFFFF;
  }

  .box3-text2{
    position: relative;
    width: 303px;
    height: 75px;
    top: 30px;
    left: 15px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Lustria';
    font-size: 14px;
    font-weight: 400;
    line-height: 20.51px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
  }

  /***********************************************************************************/

  /******************************* Box4 **********************************************/
  .box4 {
    position: absolute;
    width: 285px;
    height: 285px;
    top: 450px; 
    left: 1050px; 
    gap: 0px;
    border-radius: 75px;
    border: 1px solid #FFFFFF;
    opacity: 1;
    background: #232333;

    transition: all 0.1s ease;
  }

  .box4:hover {
    background: #5d5d7c; 
    cursor: pointer;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF; 
  }
  .sketchToImage1{
    position: relative;
    left: 39px;
    top: 20px;
  }
  .rightarrow{
    position: relative;
    left: 62px;
    top:20px;
  }

  .sketchToImage2{
    position: relative;
    left: 80px;
    top: 20px;
  }

  .box4-text1{
    position: relative;
    width: 253px;
    height: 53px;
    top: 22px;
    left: 12px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Londrina Solid';
    font-size: 35px;
    font-weight: 400;
    line-height: 53.24px;
    text-align: center;

    color: #FFFFFF;
  }

  .box4-text2{
    position: relative;
    width: 303px;
    height: 75px;
    top: 30px;
    left: 15px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Lustria';
    font-size: 14px;
    font-weight: 400;
    line-height: 20.51px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
  }

  /***********************************************************************************/
