/* TextBox.css */
@font-face {
    font-family: 'Londrina Solid';
    src: url(../fonts/LondrinaSolid-Regular.ttf);
  }

@font-face {
    font-family: 'Livvic Regular';
    src: url(../fonts/Livvic-Regular.ttf);
}

@font-face {
    font-family: 'Lilita One';
    src: url(../fonts/LilitaOne-Regular.ttf);
}


  .textbox1 {
    position: absolute;
    top: 18px;
    left: 20%;
    width: 60%;
    gap: 0px;
    opacity: 0px;
    font-family: 'Londrina Solid';
    font-size: 40px;
    font-weight: 400;
    line-height: 65.07px;
    text-align: center;
    color: white;
    }
  
    .wordTo{
      color: #7D60FB;
    }


    .textbox2{
        position: absolute;
        top: 95px;
        left: 10%;
        width: 82%;
        gap: 0px;
        opacity: 0px;
        font-family: 'Livvic Regular';
        font-size: 22px;
        font-weight: 400;
        line-height: 31.38px;
        text-align: center;
        color: white;
    
    }

    .middlebox {
        position: absolute;
        width: 540px;
        height: 80px;
        top: 330px;
        left: 31%;
        gap: 0px;
        opacity: 0px;
        background: #5858E6;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 40px;
        transition: all 0.1s ease;
      }
    .middlebox:hover{
      cursor: pointer;
      border-width: 3px;
      border-style: solid;
      border-color: #FFFFFF; 
    }
      

      .middlebox-text{
        position: relative;
        width: 520px;
        height: 75px;
        top: 12px;
        right: 15px;
        gap: 0px;
        opacity: 0px;
        font-family: 'Lilita One';
        font-size: 32px;
        font-weight: 400;
        line-height: 49.15px;
        text-align: center;
      }
    
